/*Font*/
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

/*Image Formatting*/
img {
    height:200px;
    width: 200px;
}

.image {
    text-align: center;
}

/*Heading Formatting*/
h1 {
    font-family: "Coming Soon", san-serif !important;
    text-align: center;
    color: #0C1EE8 !important;
}

/*Formatting for Input Boxes*/
form {
    text-align: center;
    padding: 5px;
}
#leftoperand {
    width: 130px;
    border-color: #1957FF;
}
#operator {
    width: 30px;
    border-color: #1957FF;
}
#rightoperand {
    width: 130px;
    border-color: #1957FF;
}
/*Formatting for buttons*/
#row-1 {
    padding: 5px;
}
#row-2 {
    padding: 5px;
}
#row-3 {
    padding: 5px;
}
#row-4 {
    padding: 5px;
}
.equal-button {
    
    padding: 5px;
    
}
.btn:hover {
    font-weight: bold !important;
}
.btn {
    background-color: #1957FF !important;
    color: #FFF !important;
}





