/*
this is the font I've imported from Google
*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
/*
Here are all of my page styles
*/

/*Here are the colors I'm using for this page
Pink: #FF007F;
Dark Pink: #7F003F;
*/

/*the following styles apply to specific page elements*/

p {
    text-align: justify;
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: #FF007F !important;
}

h2 {
    font-family: "Lato", sans-serif;
    color: #FFF;
}

h3 {
    font-family: "Permanent Marker", sans-serif;
}

#about-me:hover {
    color: #FF007F;
    text-decoration: underline;
    font-weight: bold;
}

#projects:hover {
    color: #FF007F;
    text-decoration: underline;
    font-weight: bold;
}

#clients:hover {
    color: #FF007F;
    text-decoration: underline;
    font-weight: bold;
}

#creative:hover {
    color: #FF007F;
    text-decoration: underline;
    font-weight: bold;
}

.jumbotron {
    background-image: url(/img/chalkboard.jpg);
}

.container-fluid {
    
    background-image: url(/img/laptop-code.jpg);
}