html {
    font-family: "Condensed Light", Calibri, Trebuchet, sans-serif;
  }

.block {
    float: left;
    padding: 1em;
    width: 90px; 
    height: 195px;
    border: 1px solid #004d40;
    align-content: center;
    background-color: #e0f2f1;
    margin: .40em;
}

#map-canvas {
            width: 770px;
            height: 481px;
        }

#current {
    padding-top: 25px;
}

#top {
    text-align: center;
    color: #004d40;
}

#logo {
    width: 100px;
    height: 100px;
}